#===========================================================
# Build Artifacts
#===========================================================

build/
obj_dir/

#===========================================================
# Waveforms
#===========================================================

waves/*.vcd

#===========================================================
# Logs
#===========================================================

logs/

#===========================================================
# Reports
#===========================================================

reports/

#===========================================================
# Temporary Files
#===========================================================

*.log
*.bak
*.swp
*.tmp

#===========================================================
# VS Code
#===========================================================

.vscode/

#===========================================================
# OS Files
#===========================================================

.DS_Store
Thumbs.db